body {
    background-color: #000;
    color: aliceblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.immagen-header img {
    width: 100%;
}

section.immagen-header {
    width: 100%;
    max-width: 100%;
    align-items: center;
}

header {
    text-align: center;
    font: normal normal medium;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
}

.imagen1 {
    width: 450px;
    height: 237px;
    float: right;
    margin-top: 45px;
    margin-right: 200px;
}

.imagen2 p {
    display: inline-block;
    width: 38%;
    height: 197px;
    margin-left: 135px;
    margin-bottom: 90px;
    margin-top: 80px;
    color: #FFFFFF;
}

.iconos {
    text-align: center;
    border: 1px solid #334;
    background-color: #333;
    display: flow-root;
}

.icono i {
    padding: 8px;
    font-size: xx-large;
}

.icono {
    width: 30%;
    float: left;
    padding: 1%;
}

section.galeria {
    max-width: 100%;
    padding: 10%;
    display: flow-root
}

.galeria.foto {
    width: 230%;
    margin: 10px;
    padding: 10%;
}

img {
    width: 316px;
    margin: 8px;
    float: left;
}

footer {
    text-align: center;
}